<ng-container>
  <div class="container">
    <form #courseForm="ngForm" (ngSubmit)="createForm(courseForm)">

      <div class="row">
        <div class="form-group col-8">
          <label for="nomeInput">Curso</label>
          <input type="text" placeholder="Nome do curso" class="form-control p-4" name="name" [(ngModel)]="course.name">
        </div>

        <div class="form-group col-md-4">
          <label for="yearInput">Ciclos</label>
          <input type="number" placeholder="Ciclos" class="form-control p-4" name="cicles" [(ngModel)]="course.cicles">
        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-6">
          <label for="yearInput">Ano de Inicio</label>
          <input type="number" placeholder="Ano" class="form-control p-4" name="year" [(ngModel)]="course.startYear">
        </div>

        <div class="form-group col-md-6">
          <label for="yearInput">Ciclos</label>
          <input type="number" placeholder="Ciclos" class="form-control p-4" name="cicles" [(ngModel)]="course.cicles">
        </div>


        <div class="form-group col-md-6">
          <label for="courseTypeInput">Tipo de Graduacao</label>

          <select name="" id="courseTypeInput" class="form-control" name="type" [(ngModel)]="course.type">
            <option *ngFor="let type of courseType">{{type}}</option>
            <option value="">Selecione</option>
          </select>

        </div>


        <div class="form-group col-md-6">
          <label for="coursePeriodInput">Período</label>

          <select name="" id="periodInput" class="form-control" name="period" [(ngModel)]="course.period">
            <option *ngFor="let period of coursePeriod">{{period}}</option>
            <option value="">Selecione</option>
          </select>

        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
          <button [appSubmitButtonEffect] = "sombraNaTela" type="submit" class="btn btn-primary btn-block">Cadastrar Curso</button>
        </div>
      </div>

    </form>
  </div>

  <div class="col-md-6" [ngStyle]="{ 'margin' : '0 auto'}">
    <div class="center">
      <app-course [course]="course"></app-course>
    </div>
  </div>


</ng-container>