<ng-container *ngIf="course">
    <div class="card p-0 m-2" [ngStyle]="{ 'margin' : '0 auto'}">

        <div class="card-header">
            <p>{{course.name}}</p>
        </div>

        <div class="card-body">
            <p class="card-text"></p>
            <p>Curso: {{course.name}}</p>
            <hr>
            <p>Ano: {{course.startYear}}</p>
            <hr>
            <p>Periodo: {{course.period}}</p>
            <hr>
            <p>Tipo: {{course.type}}</p>
        </div>

    </div>
</ng-container>