.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  margin: 0;
  background-color: #a3130d;
  // background-color: #07455c;
  display: inline-flex;

  .image {
    text-align: left;
    margin-left: 80px;

    img {
      width: 115px;
      height: 55px;
      padding: 5px;
      margin-top: 6px;
      cursor: pointer;
    }
  }



  h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: whitesmoke;
    margin: 20px;
    cursor: pointer;
  }
}